/* Navbar CSS  */
.navbar {
    position: fixed;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    height: 120px;
    z-index: 1000;
    
    /* background-color: red; */
}

.nav-container {
    height: 80px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #fff;

}

.nav-container .logo {
    width: 15%;
}

.nav-container .logo  img {
    width: 70%;
}

.nav-container .search-bar {
    width: 70%;
}

.search-bar .search-icon {
    position: absolute;
    left: 15%;
    top: 25%;
    font-size: 15px;
    color: rgb(139, 136, 136);
}

.nav-container .search-bar input {
    width: 80%;
    padding: 13px 35px;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: #e9f6f7;
    font-size: 15px;
    
}

.search-bar button {
    padding: 13px 30px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    background: linear-gradient(to right, #ff8d4d, #ff635f );
    cursor: pointer;
}


.nav-container .sign-bar {
    width: 30%;
}

.sign-bar ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    font-size: 20px;
    cursor: pointer;
    color: #24a3b5;
}


.sign-bar ul li:first-child {
    font-size: 12px;
    font-weight: 550;
    text-align: left;
    color: black;
}
.sign-bar ul li:last-child {
    font-size: 15px;
    font-weight: 550;
    color: black;
}

.nav-menu {
    background-color: #24a3b5;
}

.nav-menu ul {
    width: 60%;
    height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
    /* gap: 20px; */
    list-style: none;
    cursor: pointer;
}

.nav-menu ul li:first-child img {
    width: 70px;
    padding-top: 3px;
}

.nav-menu ul li:first-child:hover {
    background-color: none;
}

.nav-menu ul a {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    font-weight: 500;
    padding: 14px 10px;
}

.nav-menu ul a:hover {
    background-color: red;
}

.navStrip {
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navStrip ul {
    width: 80%;
    height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 20px; */
    list-style: none;
    cursor: pointer;
}

.navStrip ul a {
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-weight: 500;
    padding: 14px 10px;
}